<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.ITALIAN}">

<div th:insert="~{base :: headerFragment}"></div>
<br>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Dettaglio</title>
  <div class="row">
    <div class="col-md-12">
      <th:block th:if="${!#strings.isEmpty(message)}">
        <div class="alert alert-danger" role="alert">
          <th:block th:text="${message}"></th:block>
        </div>
      </th:block>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <th:block th:if="${!#strings.isEmpty(message1)}">
          <div class="alert alert-info" role="alert">
            <th:block th:text="${message1}"></th:block>
          </div>
        </th:block>
      </div>
  </div>
</head>
<body>
<div class="row">
   <div class="col-md-3"></div>
     <div class="col-md-9">
        <h1>Dettaglio Scadenza</h1>
     </div>
</div>
<br>
<section class="course-info">
    <div class="row">
      <div class="col-md-3 mb-3 mb-sm-0">

      </div>
      <div class="col-md-9">
        <th:block th:if="${isOwner==true}">
              <a class="btn btn-outline-primary btn-sm" th:href="|@{/{id}/editscadenza(id=${scadenza.getId()})}|"><i class="fas fa-pencil-alt"></i> Modifica</a>
              <a class="btn btn-outline-primary btn-sm" th:href="@{/scadenze/list}"><i class="fas fa-th-list"></i> Torna alla Lista</a>
        </th:block>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6 mb-3 mb-sm-0">
        <div class="card text-bg-warning mb-3 col-6 offset-md-6" style="width: 100%;">
          <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
            </svg>
            Dettaglio
          </div>
          <div class="card-body">
            <div class="input-group">
              <label>Denominazione</label>:&nbsp
              <th:block th:text="${scadenza.getBeneficiario().getBeneficiario()}"></th:block>
            </div>
            <div class="input-group">
              <label>Data Scadenza</label>:&nbsp
              <th:block th:text="${formattedDataScadenza}"></th:block>
            </div>
            <div class="input-group">
              <label>Importo</label>:&nbsp
              <th:block th:text="${formattedImporto}"></th:block>
            </div>
            <div class="input-group">
              <label>Sollecito</label>:&nbsp
                <th:block th:text="${scadenza.getSollecito()}"></th:block>
            </div>
            <div class="input-group">
              <label>Giorni Ritardo</label>:&nbsp
              <span th:class="${scadenza.getGiorniRitardo() > 0} ? 'text-red' : 'text-black'" th:text="${scadenza.getGiorniRitardo()}"></span>
            </div>
            <div class="input-group">
              <label>Data Pagamento</label>:&nbsp
              <th:block th:text="${formattedDataPagamento}"></th:block>
            </div>
            <div class="input-group">
              <label>Status</label>:&nbsp
              <th:block th:text="${scadenza.getStatus()}"></th:block>
            </div>
          </div>
          <div class="card-footer">
            Footer
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
<th:block th:if="${scadenza.getRicevute().size()>0}">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="alert alert-info" role="alert">
        <h3 style="text-align: center">Ricevute</h3>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <div class="table-responsive-md">
    <table class="table table-striped table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome file</th>
        <th scope="col">Tipo</th>
        <th scope="col">Id Scadenza</th>
      </tr>
      </thead>
      <tbody>
      <br>
      <th:block th:each="ricevuta : ${scadenza.getRicevute()}">
        <tr>
          <td>
            <th:block th:text="${ricevuta.getId()}"></th:block>
          </td>
          <td>
            <th:block th:utext="${ricevuta.getNomeFile()}"></th:block>
          </td>
          <td>
            <th:block th:utext="${ricevuta.getTipoFile()}"></th:block>
          </td>
          <td>
            <th:block th:utext="${ricevuta.getScadenza().getId()}"></th:block>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</th:block>
</body>
<div th:insert="~{footer :: footerFragment}"></div>
</html>
