<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:bohdan="http://www.w3.org/1999/xhtml"
      xmlns:text="http://www.w3.org/1999/xhtml"
      th:inline="text">
<div th:insert="~{base :: headerFragment}"></div>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Modifica</title>
  <br>
  <div class="row">
    <div class="col-md-12">
      <th:block th:if="${!#strings.isEmpty(message1)}">
        <div class="alert alert-success" role="alert">
          <th:block th:text="${message1}"></th:block>
        </div>
      </th:block>
      <th:block th:if="${!#strings.isEmpty(message)}">
        <div class="alert alert-danger" role="alert">
          <th:block th:text="${message}"></th:block>
        </div>
      </th:block>
    </div>
  </div>
</head>
<body>
<br>
<h1>Aggiorna Scadenza</h1>
<section class="course-info">
  <form method="post" th:action="@{/{idScadenza}/{status}/update(idScadenza=${scadenzaForm.getId()}, status=${scadenzaForm.getStatus()})}"

        ModelAttribute="scadenzaForm" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="${_csrf.token}" />
    <input type="hidden" th:id="idScadenza" th:value="${scadenzaForm.getId()}" />
    <div class="row">
      <div class="col-md-7"></div>
        <div class="col-md-5 d-flex align-items-center">
          <th:block th:if="${isOwner==true}">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Salva</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn btn-danger btn-lg btn-block" type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Elimina</button>
          </th:block>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <label>Beneficiario</label>
          <input type="text" name="denominazione" th:value="${scadenzaForm.getBeneficiario().getBeneficiario()}"  readonly="readonly"  class="form-control form-control-lg">
        </div>
        <br>
        <div class="form-group">
          <label>Data scadenza</label>
          <th:block th:if="${scadenzaForm.getStatus().toUpperCase.equals('PAGATO')}">
              <input type="date" name="dataScadenza" th:value="${scadenzaForm.getDataScadenza()}"  class="form-control form-control-lg" required="required" readonly="readonly" />
          </th:block>
          <th:block th:if="${!scadenzaForm.getStatus().toUpperCase.equals('PAGATO')}">
            <input type="date" name="dataScadenza" th:value="${scadenzaForm.getDataScadenza()}"  class="form-control form-control-lg" required="required" />
          </th:block>
        </div>
        <br>
        <br>
        <div class="form-group">
          <label>Importo</label>
          <th:block th:if="${scadenzaForm.getStatus().toUpperCase.equals('PAGATO')}">
               <input  type="number" step="any" id="importo" name="importo"  class="form-control form-control-lg" th:value="${scadenzaForm.getImporto()}" required="required" readonly="readonly" />
          </th:block>
          <th:block th:if="${!scadenzaForm.getStatus().toUpperCase.equals('PAGATO')}">
            <input  type="number" step="any" id="importo" name="importo"  class="form-control form-control-lg" th:value="${scadenzaForm.getImporto()}" required="required"/>
          </th:block>
        </div>
      </div>
      <div class="col-md-5">
        <aside>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" name="sollecito" type="checkbox" th:checked="${scadenzaForm.getSollecito()}" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Sollecito
              </label>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label>Giorni ritardo</label>
            <div class="input-group">
              <input type="text" id="giorniRitardo" name="giorniRitardo" th:style="'color: ' + ${scadenzaForm.getGiorniRitardo() > 0 ? 'red' : 'black'} + ';'" th:value="${scadenzaForm.getGiorniRitardo()}" class="form-control form-control-block" readonly="readonly" />
            </div>
          </div>
          <br>
          <div class="form-group">
            <label>Data pagamento</label>
            <div class="input-group">
              <input type="date" id="dataPagamento" name="dataPagamento" th:value="${scadenzaForm.getDataPagamento()}" class="form-control form-control-block" readonly="readonly"/>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label>Status</label>
            <div class="input-group">
              <input type="text" id="status" name="status" th:value="${scadenzaForm.getStatus()}" class="form-control form-control-block" readonly="readonly"/>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label>Ricevuta</label>
            <div class="input-group">
              <input type="file" class="form-control" id="fileUpload" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
              <button class="btn btn-outline-secondary" type="button" id="btnUpload">Upload</button>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </form>
</section>
<br>
<section>
  <form method="post" th:action="|@{/{id}/deletescadenza(id=${scadenzaForm.getId()})}|">
    <input type="hidden" name="_csrf" value="${_csrf.token}" />
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Elimina Scadenza</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Stai per eliminare la scadenza e tutte le ricevute associate. Procedere?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Elimina</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
      <br>
      <th:block th:if="${scadenzaForm.getRicevute().size()>0}">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="alert alert-info" role="alert">
              <h3 style="text-align: center">Ricevute</h3>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
        <br>
      <div class="table-responsive-md">
        <table class="table table-striped table-hover">
          <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome file</th>
            <th scope="col">Tipo</th>
            <th scope="col">Id Scadenza</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <br>
          <th:block th:each="ricevuta : ${scadenzaForm.getRicevute()}">
            <tr>
              <td>
                <th:block th:text="${ricevuta.getId()}"></th:block>
              </td>
              <td>
                <th:block th:utext="${ricevuta.getNomeFile()}"></th:block>
              </td>
              <td>
                <th:block th:utext="${ricevuta.getTipoFile()}"></th:block>
              </td>
              <td>
                <th:block th:utext="${ricevuta.getScadenza().getId()}"></th:block>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Azioni
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="|@{/{id}/download(id=${ricevuta.getId()})}|">Scarica</a></li>
                    <!-- Bottone Elimina -->
                    <li><a class="dropdown-item" href="#"  th:data-id="${ricevuta.getId()}" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Elimina</a></li>
                  </ul>
                      <section>
                        <!--MODAL PER RICEVUTE-->
                        <form method="POST" th:action="@{/deletericevuta}">
                          <input type="hidden" id="hidden1" name="id" />
                          <!-- Modal -->
                          <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="staticBackdropLabel1">Elimina Ricevuta</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Stai per eliminare la ricevuta. Procedere?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Elimina</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </section>
                </div>
              </td>
            </tr>
          </th:block>
          </tbody>
        </table>
      </div>
      </th:block>
<script>
  const modal = document.getElementById('staticBackdrop1');
  modal.addEventListener('show.bs.modal', function (event) {
    // Bottone che ha aperto la modale
    const button = event.relatedTarget;
    // Estrai il valore di id
    const id = button.getAttribute('data-id');

    // Aggiorna il campo nascosto
    const hiddenInput = document.getElementById('hidden1');
    hiddenInput.value = id;
    // Modifica dinamicamente l'action del form
    const form = modal.querySelector('form');
    form.action = `/deletericevuta?id=${id}`;
  });
</script>
<script>
  $(document).ready(function () {
    $("#btnUpload").click(function (e) {
      e.preventDefault();  // Previene il comportamento predefinito del pulsante
      var data = new FormData();
      var files = $("#fileUpload").get(0).files; // ID dell'elemento file
      var idScadenza = $("#idScadenza").val();
      if (files.length === 0) {
        alert("Seleziona almeno un file da caricare.");
        return;
      }

      data.append("file", files[0]);
      data.append("id", idScadenza);
      $.ajax({
        url: '/upload',
        type: 'POST',
        data: data,
        contentType: false,
        processData: false,
        success: function (result) {
          alert(result);  // Mostra il messaggio di successo
        },
        error: function (xhr, status, error) {
          alert("Errore durante il caricamento: " + xhr.responseText);
        }
      });
    });
  });
</script>
<!-- qui potresti caricare i file JS di Bootstrap, se serve -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<div th:insert="~{footer :: footerFragment}"></div>
</body>
</html>




























